h1 {
    color: blueviolet;
    font-family: 'Bitter', serif;
}

#content{
    width: 600px;
    border: 1px solid darkblue;
    margin: auto;
    padding: 50px;
    background-color: #eee;
}

p{
    text-align: justify;
}

.porte{
    width: 150px;
    float: left;
    margin-right: 20px;
}